<%= form_with(model: arrival) do |form| %>
  <% if arrival.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(arrival.errors.count, "error") %> prohibited this arrival from being saved:</h2>

      <ul>
        <% arrival.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.submit %>
  </div>
<% end %>
